body{
    background-color: rgb(114, 255, 208);
    text-align: center;
}

h3{
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(78, 134, 255);
}

#color_name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}